@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-gilroy: var(--font-gilroy);
}

@theme {
  --color-primary: #d25c41;
  --color-secondary: #f6ac55;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gilroy);
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee-scroll {
  animation: marquee-scroll 40s linear infinite;
}

.animate-marquee-scroll:hover {
  animation-play-state: paused;
}
